<p>
  <b>Imię:</b>
  <%= @lodger.first_name %>
</p>

<p>
  <b>Nazwisko:</b>
  <%= @lodger.last_name %>
</p>


<%= link_to 'Edytuj', edit_lodger_path(@lodger) %> |
<%= link_to 'Powrót', lodgers_path %>
