body {
    background-color: #fff;
    color: #333;
}

body, p, ol, ul, td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
}

pre {
    background-color: #eee;
    padding: 10px;
    font-size: 11px;
}

a {
    color: #000;
}

a:visited {
    color: #666;
}

a:hover {
    color: #fff;
    background-color: #000;
}

div.field, div.actions {
    margin-bottom: 10px;
}

#notice {
    color: green;
}

div#menu {
    width: 700px;
    margin: 0 auto;
    background-color: #cce3ff;
    padding: 10px;
}

div#flash {
    width: 700px;
    margin: 10px auto 0 auto;
    padding: 10px;
}

div.error {
    background-color: #ff6666;
}

div.warning {
    background-color: #ffcc00;
}

div.notice {
    background-color: #ccffcc;
}


div#body {
    width: 700px;
    margin: 10px auto;
    background-color: #cce3ff;
    padding: 10px;
}

div#menu ul {
    clear: both;
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div#menu li {
    float: left;
    margin: 0 10px 0 0;
    padding: 0;
}

.field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
}

#error_explanation {
    width: 450px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
}

#error_explanation ul li {
    font-size: 12px;
    list-style: square;
}
