div#menu {
    width: 700px;
    margin: 0 auto;
    background-color: #eee5de;
    padding: 10px;
}

div#flash {
    width: 700px;
    margin: 10px auto 0 auto;
    padding: 10px;
}

div.error {
    background-color: #ff6666;
}

div.warning {
    background-color: #ffcc00;
}

div.notice {
    background-color: #ccffcc;
}

div#body {
    width: 700px;
    margin: 10px auto;
    background-color: #cce3ff;
    padding: 10px;
}

div#menu ul {
    clear: both;
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div#menu li {
    float: left;
    margin: 0 10px 0 0;
    padding: 0;
}

table.rates {
    width: 100%;
    background-color: #fff;
}

table.main {
    width: 300px;
    background-color: #fff;
}

div.small_menu {
    margin-top: 10px;
}

td.sum_row {
    border-top: 1px solid #ddd;
    text-align: right;
}

div.rate_past {
    width: 10px;
    height: 10px;
    background-color: crimson;
}

div.rate_now {
    width: 10px;
    height: 10px;
    background-color: chartreuse;
}

div.rate_future {
    width: 10px;
    height: 10px;
    background-color: dodgerblue;
}