<p>
  <b>Numer lokalu:</b>
  <%= @apartment.number %>
</p>

<p>
  <b>Powierzchnia:</b>
  <%= @apartment.area %>
</p>

<%= link_to 'Edycja', edit_apartment_path(@apartment) %> |
<%= link_to 'Powrót', apartments_path %>
